@charset "utf-8";
.body{
	background-color: black;
	height:20px;
	width: 20px;
}
.image{
	padding-top: 100px;
	padding-left: 250px;
	float: left;
}
.text{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size:20px;
	color: black;
	width: 400px;
	float: right;
	padding-top: 350px;
	padding-right: 350px; 
}
.home{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size:20px;
	
}

a:link, a:visited{
	color: black;
	text-decoration: none;
}